body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(75, 75, 75);
}

.aboutMe > span{
    color: orange;
}

h1, h3{
    color: rgb(145, 187, 229)
}

a {
    color: violet
}

img.mood {
    height: 120px;
}

.moviesNote, .neighbours span{
    font-style: italic;
}

